<center>
<table cellpadding="0" cellspacing="0" width="666" border="0" bgcolor="white" class="white">
<TR>
<td height="20">
</td>
</tr>
<TR>
<td colspan="2"><%= image_tag("inThePocket.jpg", :alt => "Main") %>
</td>
</tr>
<tr>
	<td width="300"><h1>Why Pre-Checkin?</h1>
	</td>
<td ><h1>Sign in with a Ticket</h1>(<%=link_to("help")%>)</td>
</tr>
<tr>
	<td >-It's easy<br>
		-It takes less than a minute<br>
		-It lets you get through the door faster to play games with your favorite Steeler!
		<br><br><br><br><br>
<td >	
	<% form_for(@ticket) do |f| %>
	  <%= f.error_messages %>

	  <p>
	    <%= f.label :number %><br />
	    <%= f.text_field :number %>
	  </p>
	  <p>
	    <%= f.label :code %><br />
	    <%= f.text_field :code %>
	  </p>
	  <p>
	    <%= f.submit 'Submit' %>
	  </p>
	<% end %>
	
</td>
</tr>



</table>
<%= render :partial => "partials/footer" %>
